{
  "auths": {},
  "credHelpers": {},
  "experimental": "disabled",
  "stackOrchestrator": "swarm",
  "psFormat": "table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}",
  "imagesFormat": "table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.Size}}",
  "detachKeys": "ctrl-e,e"
}