# {{ ansible_managed }}
# SummitEthic PAM configuration for password changes

# Password settings
password    requisite       pam_pwquality.so retry=3 minlen={{ account_min_password_length }} difok=4 dcredit=1 ucredit=1 lcredit=1 ocredit=1 reject_username enforce_for_root
password    required        pam_unix.so use_authtok nullok obscure sha512 remember={{ account_remember_password }}
password    optional        pam_permit.so