# {{ ansible_managed }}
# SummitEthic admin user sudo permissions

# Admin user with passwordless sudo
{{ admin_user }} ALL=(ALL) NOPASSWD:ALL

# Defaults that enhance security
Defaults env_reset
Defaults mail_badpass
Defaults secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Defaults use_pty
Defaults logfile="/var/log/sudo.log"